.h
{
width: 80%;
height : 0px; 
margin-right:auto;
margin-left:auto;
color: rgb(184, 184, 184);

}

.Footer

    {
        display: flex;
        align-items: center;
        justify-content:space-around;
        text-align: center;
        width: 100%;
        height: 100%;


    
    }

    .Footerd1
    {
        width:560px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        

    }